body {
}

header {
    background: url(../img/back.png);
    h1 {
        font-size: 120px;
        line-height: 60px;
        text-shadow: white 5px 5px;
    }
    .btn {
        box-shadow: white 5px 5px;
    }
}

.container {
    padding: 50px;
    width: 800px;
}

table {
    width: 300px;
    tr .options {
        display: none;
        text-align: right;
    }
    tr:hover .options {
        display: table-cell;
    }
    .form-inline { margin: 0 }
    .title {
        display: block;
        margin: 5px 7px;
    }
}

form.add-feed {
    margin-top: 20px;
}

.items {
    a.unread {
        font-weight: bold;
    }
}